@model IEnumerable<IP_8IEN.BL.Domain.Gebruikers.PositiefNegatief>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlertState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotificationWeb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNotification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AlertState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotificationWeb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNotification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlertInstellingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlertInstellingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlertInstellingId })
        </td>
    </tr>
}

</table>
