@model IP_8IEN.BL.Domain.Data.Organisatie

@{
    ViewBag.Title = "DetailsOrganisatie";
}

<h2>DetailsOrganisatie</h2>

<div>
    <h4>Organisatie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Beschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Afkorting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Afkorting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oprichtingsdatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oprichtingsdatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ideologie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ideologie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditOrganisatie", new { id = Model.OnderwerpId }) |
    @Html.ActionLink("Back to List", "Index")
</p>