@model IP3_8IEN.BL.Domain.Data.Organisatie

@{
    ViewBag.Title = "DetailsOrganisatie";
}

<div style="padding-top:10px; padding-bottom:10px">
    <i class="fas fa-user-circle" style="font-size: 28px; color:#00295C; display:inline"></i><h2 style="color:#00295C; display: inline;">@Html.ActionLink("  Admin Omgeving", "Index")</h2> <h3 style="color:#00295C; display: inline;">@Html.ActionLink("> Organisaties", "Organisatie")</h3>  <h4 style="color:#00295C; display: inline;"> > Details Organisatie</h4>
    <hr />
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Beschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Afkorting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Afkorting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oprichtingsdatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oprichtingsdatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ideologie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ideologie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Wijzig de Organisaties", "EditOrganisatie", new { id = Model.OnderwerpId }) |
    @Html.ActionLink("Ga terug naar Organisaties", "Index")
</p>