@model IEnumerable<IP_8IEN.BL.Domain.Dashboard.Follow>

@{
    ViewBag.Title = "Grafiek";
}

<h2>Grafiek</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DashItem.DashItemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Onderwerp.Naam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DashItem.DashItemId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.DashItem.DashItemId }) |
            @Html.ActionLink("Details", "Details", new { id = item.DashItem.DashItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.DashItem.DashItemId })
        </td>
    </tr>
}
    <tr>
        @Html.ActionLink("CreateGrafiekLine", "CreateGrafiekLine")
    </tr>

</table>
