@model IEnumerable<IP3_8IEN.BL.Domain.Dashboard.DashItem>

@{
    ViewBag.Title = "Grafiek";
}

<h2>Grafiek</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.LastModified)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Type)
        </th>
        <td>
            @Html.ActionLink("Details", "DetailsGrafiek", new { id = item.DashItemId }) |
            @Html.ActionLink("Delete", "DeleteGrafiek", new { id = item.DashItemId })
        </td>
    </tr>
    }
    <tr>
        @Html.ActionLink("CreateGrafiekLine", "CreateGrafiekLine")
    </tr>

</table>