@model IEnumerable<IP_8IEN.BL.Domain.Gebruikers.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<h2 style="color:#00295C;">Admin Omgeving</h2>

<br />

<div class="row">
    <div class="col-lg-12" >
        <div style="width: 75%; margin: 0 auto;">
            <div class="col-lg-4">
                <a href="@Url.Action("User","Admin")" class="btn btn-default" type="button" style="height:250px; width:250px; border: 2px solid #00295C">
                    <i class="fas fa-users" style="font-size: 85px; color:#00295C; padding-top:48px"></i>
                    <br />
                    <br />
                    <i style="font-size:24px; color:#00295C;">Gebruikers</i>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="@Url.Action("Persoon","Admin")" class="btn btn-default" type="button" style="height:250px; width:250px; border: 2px solid #00295C">
                    <i class="far fa-user-circle" style="font-size: 85px; color:#00295C; padding-top:48px"></i>
                    <br />
                    <br />
                    <i style="font-size:24px; color:#00295C;">Personen</i>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="@Url.Action("Organisatie","Admin")" class="btn btn-default" type="button" style="height:250px; width:250px; border: 2px solid #00295C">
                    <i class="fas fa-sitemap" style="font-size: 85px; color:#00295C; padding-top:48px"></i>
                    <br />
                    <br />
                    <i style="font-size:24px; color:#00295C;">Organisaties</i>
                </a>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <p>
        @Html.ActionLink("Users", "User")
        @Html.ActionLink("Personen", "Persoon")
        @Html.ActionLink("Organisaties", "Organisatie")
    </p>

    <tr>
        @Html.ActionLink("Nieuwe LineGrafiek", "CreateGrafiekInput")
    </tr>
    <tr>
        @Html.ActionLink("Nieuwe Ranking", "CreateRankingInput")
    </tr>
</table>