@model IEnumerable<IP3_8IEN.BL.Domain.Data.Persoon>

@{
    ViewBag.Title = "Persoon";
}

<div style="padding-top:10px; padding-bottom:10px">
    <i class="fas fa-user-circle" style="font-size: 28px; color:#00295C; display:inline"></i><h2 style="color:#00295C; display: inline;">@Html.ActionLink("  Admin Omgeving", "Index")</h2> <h3 style="color:#00295C; display: inline;"> > Personen</h3>
    <hr />
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover" id="adminPersonenTable">
                    <thead>
                        <tr class="odd gradeX">
                            <th style="width:30%;">@Html.DisplayNameFor(model => model.Naam)</th>
                            <th style="width:30%;">@Html.DisplayNameFor(model => model.Twitter)</th>
                            <th style="width:20%;">Gemeente</th>
                            <th style="width:20%;">Opties</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width:30%;">
                                    @Html.ActionLink(item.Naam, "DetailsPersoon", new { id = item.OnderwerpId })
                                </td>
                                <td style="width:30%;">
                                    <a href="@($" https://twitter.com/{item.Twitter}")">@Html.DisplayFor(modelItem => item.Twitter)</a>
                                </td>
                                <td style="width:20%;">
                                    @Html.DisplayFor(modelItem => item.Town)
                                </td>
                                <td style="width:20%;">
                                    @Html.ActionLink("Edit", "EditPersoon", new { id = item.OnderwerpId }) |
                                    @Html.ActionLink("Details", "DetailsPersoon", new { id = item.OnderwerpId }) |
                                    @Html.ActionLink("Delete", "DeletePersoon", new { id = item.OnderwerpId })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

@section scripts{

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#adminPersonenTable').DataTable({
                'iDisplayLength': 25
            });
        });</script>
}
