@model List<IP3_8IEN.BL.Domain.Gebruikers.Alert>

@{
    ViewBag.Title = "Alerts";
}

<h2>Ontvangen Alerts!</h2>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul>
                    @foreach (IP3_8IEN.BL.Domain.Gebruikers.Alert a in Model)
                {
                    <li>@a.AlertContent</li>
                }
                </ul>
            </div>
        </div>
    </div>
</div>

<h2>Instellingen Alerts</h2>

<br />

<ul class="nav nav-tabs">
    <li class="active"><a href="#hla" data-toggle="tab">Hoger/Lager Alerts</a></li>
    <li><a href="#vla" data-toggle="tab">Value Fluctuations Alerts</a></li>
    <li><a href="#pna" data-toggle="tab">Positief/Negatieve Alerts</a></li>
</ul>

<div class="tab-content well">
    <div class="tab-pane active col-lg-12 col-md-12" id="hla">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                @Html.Action("ListHogerLager", "Alert", new List<IP3_8IEN.BL.Domain.Gebruikers.HogerLager>())
            </div>
            <div class="col-lg-4 col-md-4">
                <h2>Nieuwe Alert Maken!</h2>
                <table>
                    <tr>
                        <td><b>Ontvangen op: </b></td>
                        <td><input type="checkbox" name="checkEmailA" value="Email"> Email</td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td><input type="checkbox" name="checkNotificatieA" value="Notificatie"> Notifactie</td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td><input type="checkbox" name="checkAndroidA" value="Android"> Android App</td>
                    </tr>
                     <tr>
                        <td><b>Onderwerp 1: </b></td>
                        <td><input type="text" name="search1" class="autocomplete-1"></td>
                    </tr>
                    <tr>
                        <td><b>Onderwerp 2: </b></td>
                        <td><input type="text" name="search2" class="autocomplete-1"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="button">Alert Toevoegen</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane col-lg-12 col-md-12" id="vla">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                @Html.Action("ListValueFluctuations", "Alert", new List<IP3_8IEN.BL.Domain.Gebruikers.ValueFluctuation>())
            </div>
            <div class="col-lg-4 col-md-4">
                <h2>Nieuwe Alert Maken!</h2>
                <table>
                    <tr>
                        <td><b>Ontvangen op: </b></td>
                        <td><input type="checkbox" name="checkEmailA" value="Email"> Email</td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td><input type="checkbox" name="checkNotificatieA" value="Notificatie"> Notifactie</td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td><input type="checkbox" name="checkAndroidA" value="Android"> Android App</td>
                    </tr>
                    <tr>
                        <td><b>Onderwerp: </b></td>
                        <td><input type="text" name="search1" class="autocomplete-1"></td>
                    </tr>
                    <tr>
                        <td><b>Drempelwaarde: </b></td>
                        <td><input type="text" name="txtWaarde" value="geef waarde in" readonly></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="button">Alert Toevoegen</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane col-lg-12 col-md-12" id="pna">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                @Html.Action("ListPositiefNegatief", "Alert", new List<IP3_8IEN.BL.Domain.Gebruikers.PositiefNegatief>())
            </div>
            <div class="col-lg-4 col-md-4">
                <h2>Nieuwe Alert Maken!</h2>
                <table>
                    <tr>
                        <td><b>Ontvangen op: </b></td>
                        <td><input type="checkbox" name="checkEmailA" value="Email"> Email</td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td><input type="checkbox" name="checkNotificatieA" value="Notificatie"> Notifactie</td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td><input type="checkbox" name="checkAndroidA" value="Android"> Android App</td>
                    </tr>

                    <tr>
                        <td><b>Onderwerp: </b></td>
                        <td><input type="text" name="search1" class="autocomplete-1"></td>
                    </tr>

                    <tr>
                        <td colspan="2"><button type="button">Alert Toevoegen</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<br />

<script>
        $(document).ready(function () {
            @{List<string> listFromController = (List<string>)ViewData["names"];}
                var Names = [
                        @for (int i = 0; i < listFromController.Count; i++)
                        {
                            @: '@(listFromController[i])',
                        }
                    ]
            $(".automplete-1").autocomplete({
                //minLength: 2,
                source: Names
            });
        });
</script>