@model IP3_8IEN.BL.Domain.Dashboard.Dashbord
@using System.Activities.Expressions

@Scripts.Render("~/bundles/kendo")
@Scripts.Render("~/scripts/charts")
<script src="~/Scripts/addGrafiek.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/grafiekformsheet.css" />
<script src="https://nodebox.live/api/v1/ndbx.js"></script>
<script src="~/Scripts/nodeBoxInitialize.js"></script>
<script src="~/Scripts/grafiekaanmaken.js"></script>
<script src="~/Scripts/kendoUiUpdate.js"></script>
<script src="~/Scripts/morris-scripts.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript">
    $(function () {
        /** This code runs when everything has been loaded on the page */
        /* Inline sparklines take their values from the contents of the tag */
        $('.inlinesparkline').sparkline();

        /* Sparklines can also take their values from the first argument
        passed to the sparkline() function */
        var myvalues = @Html.Raw(Json.Encode(ViewBag.msgsSpark));
        var percent = @Html.Raw(Json.Encode(ViewBag.percent));
        $('.dynamicsparkline').sparkline(myvalues);

        /* The second argument gives options such as chart type */
        $('.dynamicbar').sparkline(myvalues, { type: 'bar', barColor: 'blue'});

        /* Use 'html' instead of an array of values to pass options
        to a sparkline with data in the tag */
        $('.inlinebar').sparkline('html', { type: 'bar', barColor: 'red'});
    });
</script>
<script>
    $(document).ready(function() {
        @{ List<string> listFromController = (List<string>) ViewData["names"]; }
        var Names = [
            @for (int j = 0; j < listFromController.Count; j++)
            {
                @: '@(listFromController[j])',
            }
        ];
        $(".automplete-1").autocomplete({
            //minLength: 2,
            source: Names
        });
    });
</script>
<script>
    $(document).ready(function() {

        var ingelogd = @Html.Raw(Json.Encode(ViewBag.Ingelogd));
        let aanmakenBtn = document.getElementById("aanmakenBtn");
        aanmakenBtn.addEventListener("click", grafiekForm, false);
        function grafiekForm() {
            let myModal = $("#myModal");
            $(".modal-backdrop").remove();
            myModal.hide();
            myModal.modal('toggle');
            var personen = [];
            var politici = document.getElementsByClassName("automplete-1");
            var type = $(".active").val();
            var aantal = parseInt($("#aantal option:selected").val());
            for (var p = 0; p < politici.length; p++) {
                personen[p] = politici[p].value;
            }
        
            if (ingelogd) {
                if (aantal === 1) {
                    stuurFormulier();
                } else if (aantal === 5) {
                    if (type === 'Line') {
                        createChartAantalTweetsPerDag2(personen);
                    } else if (type === 'Bar'){
                        createChartAantalTweetsPerDag3(personen, 'Bar');
                    }
                   
                }   

            } else {
                inloggenMsg();
            }
//            if (ingelogd) {
//                stuurFormulier();
//            } else {
//                inloggenMsg();
//            }
        }
    });
</script>

<div class="row" style="padding-top:20px">
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-9 col-md-9">
            <h2 style="margin-left:37px;">Dashboard</h2>
        </div>
        <div class="col-lg-3 col-md-3" style="padding-top:10px">
            <div class="container">
                <button  data-toggle="modal" data-target="#myModal" style="border:1px solid #00295C; background-color:white; height:40px; margin-left:130px">
                    <i class="glyphicon glyphicon-plus" style="color:#00295C"> Nieuwe Grafiek</i>
                </button>

                <div class="modal fade" id="myModal" role="dialog">

                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h2>Nieuwe Dash Item toevoegen</h2>
                            </div>
                            <div class="modal-body">
                                <div class="container-md">
                                    <div class="row">
                                        <div class="row vertical-align">
                                            <div class="col-md-4">
                                                <h4 class="text-center">Type </h4>
                                            </div>
                                            <div class="col-md-8">
                                                <div id="type">
                                                    <button class="typeGrafiek fas fa-undo active" style="font-size: 25px; vertical-align: middle;" value=""></button>
                                                    <button class="typeGrafiek fa fa-bar-chart" style="font-size: 25px; vertical-align: middle;" value="Bar"></button>
                                                    <button class="typeGrafiek fa fa-area-chart" style="font-size: 25px; vertical-align: middle;" value="Area"></button>
                                                    <button class="typeGrafiek fa fa-line-chart" style="font-size: 25px; vertical-align: middle;" value="Line"></button>
                                                    <button class="typeGrafiek material-icons" style="font-size: 25px; vertical-align: middle;" value="Donut">donut_small</button>
                                                    <button class="typeGrafiek" style="font-size: 18px; vertical-align: middle;" value="Cijfer"><b>N</b></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="grafiekTypeInfo" class="row" style="display: none">
                                        <div class="row vertical-align">
                                            <div class="col-md-4">
                                                <h4>Wat wil je afbeelden</h4>
                                            </div>
                                            <div class="col-md-4">
                                                <select class="grafiekTypeInfo" name="grafiekTypes">
                                                    <option value="" class="default" selected>(kies type)</option>
                                                    <option name="grafiekType" value="GetTweetsPerDag">Aantal tweets per dag</option>
                                                    <option name="grafiekType" value="GetRanking">Trending politiekers</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                        <div class="row personenVergelijken" style="display: none">
                            <div class="row vertical-align">
                                <div class="col-md-4">
                                    <h4>Aantal te vergelijken personen</h4>
                                </div>
                                <div class="col-md-4">
                                    <select id="aantal" name="aantal">
                                        <option name="aantal" value="0">(kies aantal)</option>
                                        <option name="aantal" value="1">1</option>
@*                                        <option name="aantal" value="2">2</option>*@
@*                                        <option name="aantal" value="3">3</option>*@
@*                                        <option name="aantal" value="4">4</option>*@
                                        <option name="aantal" value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                                    <div class="row naamVeld" style="display: none">
                                        <div class="row vertical-align">
                                            <div class="col-md-4">
                                                <h4>Kies een politicus</h4>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="automplete-1" />
                                                <div class="error" style="display: none; color: red">Naam veld veplicht</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row naamVeld" style="display: none">
                                        <div class="row vertical-align">
                                            <div class="col-md-4">
                                                <h4>Kies een politicus</h4>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="automplete-1" />
                                                <div class="error" style="display: none; color: red">Naam veld veplicht</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row naamVeld" style="display: none">
                                        <div class="row vertical-align">
                                            <div class="col-md-4">
                                                <h4>Kies een politicus</h4>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="automplete-1" />
                                                <div class="error" style="display: none; color: red">Naam veld veplicht</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row naamVeld" style="display: none">
                                        <div class="row vertical-align">
                                            <div class="col-md-4">
                                                <h4>Kies een politicus</h4>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="automplete-1" />
                                                <div class="error" style="display: none; color: red">Naam veld veplicht</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row naamVeld" style="display: none">
                                        <div class="row vertical-align">
                                            <div class="col-md-4">
                                                <h4>Kies een politicus</h4>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="text" class="automplete-1" />
                                                <div class="error" style="display: none; color: red">Naam veld veplicht</div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row dagenTerug" style="display: none">
                                        <div class="row vertical-align">
                                            <div class="col-md-4">
                                                <h4>Aantal dagen terug</h4>
                                            </div>
                                            <div class="col-md-4">
                                                <select id="aantalDagenTerug" name="types">
                                                    <option name="type" value="15">15</option>
                                                    <option name="type" value="30">30</option>
                                                    <option name="type" value="45">45</option>
                                                    <option name="type" value="60">60</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row aantalPolitici" style="display: none">
                                        <div class="row vertical-align">
                                            <div class="col-md-4">
                                                <h4>Aantal top politici</h4>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="number" name="automplete" id="aantalPolitici">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row urenTerug" style="display: none">
                                        <div class="row vertical-align">
                                            <div class="col-md-4">
                                                <h4>Aantal uren terug</h4>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="number" name="automplete" id="urenTerug">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-md" id="aanmakenBtn">Aanmaken</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-bottom:20px;">
    <div class="col-lg-12 col-md-12">

        <div class="col-lg-4 col-md-4 pull-right"  style="border:1px solid #00295C; width:200px; height:75px; margin-right:15px;">
            <ul style="list-style-type:none">
                <li>
                    Totaal aantal tweets
                </li>
                <li style="font-size:large">@ViewBag.percent %  <span class="dynamicsparkline">Loading..</span></li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 pull-right"  style="border:1px solid #00295C; width:200px; height:75px;  ">
            <ul style="list-style-type:none">
                <li>
                    Totaal aantal tweets
                </li>
                <li style="font-size:large">@ViewBag.percent %  <span class="dynamicbar">Loading..</span></li>
            </ul>
        </div>

    </div>
</div>


@*<select id="pers" style="float:right; width:200px" class="Input"></select>*@

@*<button type="button" id="button" onclick="setPersonName('Jos de Vos')">load</button>*@




<ul>
    <div id="sortable"></div>
</ul>
<script id="tmp" type="text/x-kendo-template">
    @*<li class="sortable">Item #:data#</li>*@

    <div class="col-lg-6 col-md-6 sortable">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div id="heading#:data#">

                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="chart#:data#">
                    @*<canvas id="canvas#:data#"></canvas>*@
                </div>
                <div id="extra#:data#"></div>
            </div>
            @*<div id="extra#:data#"></div>*@
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

</script>

<script>
    var init = @Html.Raw(Json.Encode(ViewBag.INIT));
    var ZonesOrder = "@Model.ZonesOrder";
    var initialData = JSON.parse(init),
        defaultdash = @Html.Raw(Json.Encode(Model.User.Username.Contains("default"))),
            order,
            html;

    if (@Model.ZonesOrder) {
        var temp = JSON.parse("@Model.ZonesOrder");

        order = JSON.parse("@Model.ZonesOrder") || initialData;
    } else {
        alert("your Database does not have zones saved");
        order = initialData;
    }

            html = kendo.render(kendo.template($("#tmp").html()), order); //render the HTML with the data
        $("#sortable").html(html); //append the HTML to the Sortable container
    if (!defaultdash) {
        $("#sortable").kendoSortable({ //initialize the sortable widget
            filter: ".sortable",
            change: function (e) {
                    var item = order.splice(e.oldIndex, 1)[0]; //remove the item that has changed its order
                    order.splice(e.newIndex, 0, item); //add the item back using the newIndex

                updateKendoZones(@Model.DashbordId, kendo.stringify(order));

                }
    });
}
</script>
@{
    var i = 1;
    foreach (var t in Model.TileZones)
    {
        if (t.DashItem.Active == true || t.DashItem.AdminGraph == true)
        {
            //var list = t.DashItem.Graphdata;
            int dashItemId = t.DashItem.DashItemId;
            string elementId = "chart" + i;
            string titelId = "heading" + i;
            string titel = t.DashItem.Naam;
            string pers1 = t.DashItem.Persoon1;
            string pers2 = t.DashItem.Persoon2;
            string pers3 = t.DashItem.Persoon3;
            string pers4 = t.DashItem.Persoon4;
            string pers5 = t.DashItem.Persoon5;
            i++;
            if (t.DashItem.AdminGraph == true)
            {
                <script type="text/javascript">$("#@titelId").html('@titel ');</script>
            }
            else
            {
                <script type="text/javascript">$("#@titelId").html('@titel <div style="float:right">@Html.ActionLink("Delete", "DeleteGrafiek", "Home", new { id = dashItemId }, new { onclick = "return confirm('Are you sure you wish to delete this article?');" })</div>');</script>
            }
            if (t.DashItem.Type.Contains("Line"))
            {
                <script type="text/javascript">custLineChart(@dashItemId, @elementId, "@titel");</script>
            }
            else if (t.DashItem.Type.Contains("Area"))
            {
                <script type="text/javascript">custAreaChart(@dashItemId, @elementId, "@titel");</script>
            }
            else if (t.DashItem.Type.Contains("Bar"))
            {
                <script type="text/javascript">custBarChart(@dashItemId, @elementId, "@titel");</script>
            }
            else if (t.DashItem.Type.Contains("Donut"))
            {
                <script type="text/javascript">custDonutChart(@dashItemId, @elementId, "@titel");</script>
            }
            else if (t.DashItem.Type.Contains("Rank"))
            {
                <script type="text/javascript">custRank(@dashItemId, @i, "@titel");</script>
            }
            else if (t.DashItem.Type.Contains("Verg"))
            {
                <script type="text/javascript">custVergelijking(@dashItemId, @elementId, "@titel","@pers1","@pers2","@pers3","@pers4","@pers5");</script>
            }
            else
            {
                <script type="text/javascript">custCijfer(@dashItemId, @i, "@titel");</script>
            }
        }
    }
}
<div class="container">
    <!-- Trigger the modal with a button -->
    <script type="text/javascript">
        $(".ui-widget").children().hide();
        $('.save').hide();
        $(".automplete-1").show();

        //let myModal = $("#myModal");
        //$(".modal-backdrop").remove();
        //myModal.hide();
        //myModal.modal('toggle');
    </script>


    <!-- Modal -->
    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Zoek politici</h4>
                </div>
                <div class="modal-body" style="margin-left:50px">
                    <input type="text" class="automplete-1"/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-md" id="submitBtn1">Enter</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <

        </div>
    </div>

</div>


@*<div class="modal fade" id="inloggenForm" role="dialog">*@
@*    <div class="modal-dialog">*@
@**@
@*        <div class="modal-content">*@
@*            <div class="modal-header">*@
@*                <button type="button" class="close" data-dismiss="modal">&times;</button>*@
@*                <h4 class="modal-title">Register or Log in</h4>*@
@*            </div>*@
@*            <div class="modal-body">*@
@*                <div class="row">*@
@*                    <div class="col-md-12">*@
@*                        <div class="container" style="margin: 50px">*@
@*                            <h3>Je moet eerst inloggen of registreren</h3>*@
@*                        </div>*@
@**@
@*                    </div>*@
@*                </div>*@
@*                <div class="row">*@
@*                    <div class="col-md-2"></div>*@
@*                    <button class="btn btn-primary btn-md col-md-3">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>*@
@*                    <div class="col-md-2"></div>*@
@*                    <button class="btn btn-primary btn-md col-md-3">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button>*@
@*                    <div class="col-md-2"></div>*@
@**@
@*                </div>*@
@*            </div>*@
@*            <div class="modal-footer">*@
@*                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
@*            </div>*@
@*        </div>*@
@**@
@*    </div>*@
@*</div>*@



<!-- A link to the NodeBox JavaScript API  -->
<script type="text/javascript">

    @*var number = @Html.Raw(Json.Encode(ViewBag.NUMMER1));
    var name = @Html.Raw(Json.Encode(ViewBag.NAAM1));
    //document.getElementById("chart7").innerHTML = number;
    //$("#chart7").append("<p>This is a paragraph</p>");

    var mydiv = document.getElementById("chart7");
    var mycontent = document.createElement("p");
    mycontent.appendChild(document.createTextNode(name + " heeft: " + number + " tweets"));
    mydiv.appendChild(mycontent);*@
    initializeNodeBox("0");
    $("#heading0").html("Top woorden per politieker");
</script>

