@using System.Activities.Expressions

@Scripts.Render("~/bundles/kendo")
@Scripts.Render("~/scripts/charts")
<script src="~/Scripts/addGrafiek.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/grafiekformsheet.css"/>
<script src="~/Scripts/grafiekaanmaken.js"></script>
@*<script type="text/javascript">*@
@*    $(function() {*@
@*        /** This code runs when everything has been loaded on the page */*@
@*        /* Inline sparklines take their values from the contents of the tag */*@
@*        $('.inlinesparkline').sparkline();*@
@**@
@*        /* Sparklines can also take their values from the first argument*@
@*        passed to the sparkline() function */*@
@*        var myvalues = [10, 8, 5, 7, 4, 4, 1];*@
@*        $('.dynamicsparkline').sparkline(myvalues);*@
@**@
@*        /* The second argument gives options such as chart type */*@
@*        $('.dynamicbar').sparkline(myvalues, { type: 'bar', barColor: 'green' });*@
@**@
@*        /* Use 'html' instead of an array of values to pass options*@
@*        to a sparkline with data in the tag */*@
@*        $('.inlinebar').sparkline('html', { type: 'bar', barColor: 'red' });*@
@*    });*@
@*</script>*@

@*<p>*@
@*    Inline Sparkline: <span class="inlinesparkline">1,4,4,7,5,9,10</span>.*@
@*</p>*@
@*<p>*@
@*    Sparkline with dynamic data: <span class="dynamicsparkline">Loading..</span>*@
@*</p>*@
@*<p>*@
@*    Bar chart with dynamic data: <span class="dynamicbar">Loading..</span>*@
@*</p>*@
@*<p>*@
@*    Bar chart with inline data: <span class="inlinebar">1,3,4,5,3,5</span>*@
@*</p>*@


<div id="sortable"></div>

<div id="test"></div>
<script id="tmp" type="text/x-kendo-template">
    @*<li class="sortable">Item #:data#</li>*@

    <div class="col-lg-6 sortable">
        <div class="panel panel-default">
            <div class="panel-heading">
                Chart Example#:data#
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="chart#:data#">
                    @*<canvas id="canvas#:data#"></canvas>*@
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

</script>

<script>
    var initialData = @Html.Raw(Json.Encode(ViewBag.INIT));
    //(int[])ViewData["init"];
    //[0, 5, 2, 6, 4, 8, 3, 7, 1], //initial items order (used if there is no saved data
    var localStorageSupport = (('localStorage' in window && window['localStorage'] !== null)),
        data,
        html;

    if (localStorageSupport) {
        //retrieve local storage data if such is available, else use the default order
        data = /*JSON.parse(localStorage.getItem("sortableData")) ||*/ initialData;
    } else {
        alert("your browser does not support local storage");
        data = initialData;
    }

    html = kendo.render(kendo.template($("#tmp").html()), data); //render the HTML with the data
    $("#sortable").html(html); //append the HTML to the Sortable container

    $("#sortable").kendoSortable({ //initialize the sortable widget
        filter: ".sortable",
        change: function(e) {
            var item = data.splice(e.oldIndex, 1)[0]; //remove the item that has changed its order
            data.splice(e.newIndex, 0, item); //add the item back using the newIndex

            localStorage.setItem("sortableData", kendo.stringify(data)); //set the updated data in the local storage
        }
    });

</script>

<div class="container">
    @*    <i class="glyphicon glyphicon-plus glyphicon-center" data-toggle="modal" data-target="#myModal"*@
    @*       style="font-size: 150px">*@
    @*    </i>*@
    <div class="modal fade" id="myModal" role="dialog">

        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2>New</h2>
                </div>
                <div class="modal-body">
                    <div class="container-md">
                        <div class="row">
                            <div class="row vertical-align">
                                <div class="col-md-4">
                                    <h4>Type </h4>
                                </div>
                                <div class="col-md-4">
                                    <select id="type" name="types">
                                        <option value="" class="default" selected>(select type)</option>
                                        <option name="type" value="number">Number</option>
                                        <option name="type" value="bar">Bar chart</option>
                                        <option name="type" value="donut">Donut chart</option>
                                        <option name="type" value="line">Line chart</option>
                                        <option name="type" value="area">Area chart</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="grafiekTypeInfo" class="row" style="display: none">
                            <div class="row vertical-align">
                                <div class="col-md-4">
                                    <h4>Wat wil je afbeelden</h4>
                                </div>
                                <div class="col-md-4">
                                    <select class="grafiekTypeInfo" name="grafiekTypes">
                                        <option value="" class="default" selected>(select type)</option>
                                        <option name="grafiekType" value="GetTweetsPerDag">Aantal tweets per dag</option>
                                        <option name="grafiekType" value="GetRanking">Trending politiekers</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="row personenVergelijken" style="display: none">
                            <div class="row vertical-align">
                                <div class="col-md-4">
                                    <h4>Aantal te vergelijken personen</h4>
                                </div>
                                <div class="col-md-4">
                                    <select id="aantal" name="aantal">
                                        <option name="aantal" value="1">1</option>
                                        <option name="aantal" value="2">2</option>
                                        <option name="aantal" value="3">3</option>
                                        <option name="aantal" value="4">4</option>
                                        <option name="aantal" value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row naamVeld" style="display: none">
                            <div class="row vertical-align">
                                <div class="col-md-4">
                                    <h4>Kies een politicus</h4>
                                </div>
                                <div class="col-md-4">
                                    @{
                                        Html.RenderPartial("Zoeken");
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row naamVeld" style="display: none">
                            <div class="row vertical-align">
                                <div class="col-md-4">
                                    <h4>Kies een politicus</h4>
                                </div>
                                <div class="col-md-4">
                                    @{
                                        Html.RenderPartial("Zoeken");
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row naamVeld" style="display: none">
                            <div class="row vertical-align">
                                <div class="col-md-4">
                                    <h4>Kies een politicus</h4>
                                </div>
                                <div class="col-md-4">
                                    @{
                                        Html.RenderPartial("Zoeken");
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row naamVeld" style="display: none">
                            <div class="row vertical-align">
                                <div class="col-md-4">
                                    <h4>Kies een politicus</h4>
                                </div>
                                <div class="col-md-4">
                                    @{
                                        Html.RenderPartial("Zoeken");
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row naamVeld" style="display: none">
                            <div class="row vertical-align">
                                <div class="col-md-4">
                                    <h4>Kies een politicus</h4>
                                </div>
                                <div class="col-md-4">
                                    @{
                                        Html.RenderPartial("Zoeken");
                                    }
                                </div>
                            </div>
                        </div>


                        <div class="row dagenTerug" style="display: none">
                            <div class="row vertical-align">
                                <div class="col-md-4">
                                    <h4>Aantal dagen terug</h4>
                                </div>
                                <div class="col-md-4">
                                    <select id="aantalDagenTerug" name="types">
                                        <option name="type" value="15">15</option>
                                        <option name="type" value="30">30</option>
                                        <option name="type" value="45">45</option>
                                        <option name="type" value="60">60</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row aantalPolitici" style="display: none">
                            <div class="row vertical-align">
                                <div class="col-md-4">
                                    <h4>Aantal top politici</h4>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="automplete" id="aantalPolitici">
                                </div>
                            </div>
                        </div>
                        <div class="row urenTerug" style="display: none">
                            <div class="row vertical-align">
                                <div class="col-md-4">
                                    <h4>Aantal uren terug</h4>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" name="automplete" id="urenTerug">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-md" id="aanmakenBtn">Aanmaken</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="modal fade" id="inloggenForm" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register or Log in</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container" style="margin: 50px">
                            <h3>Je moet eerst inloggen of registreren</h3>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <button class="btn btn-primary btn-md col-md-3">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</button>
                    <div class="col-md-2"></div>
                    <button class="btn btn-primary btn-md col-md-3">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</button>
                    <div class="col-md-2"></div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- A link to the NodeBox JavaScript API  -->
<script src="https://nodebox.live/api/v1/ndbx.js"></script>
<script src="@Url.Content("~/Scripts/morris-data.js")"></script>
<script type="text/javascript">

    var number = @Html.Raw(Json.Encode(ViewBag.NUMMER1));
    var name = @Html.Raw(Json.Encode(ViewBag.NAAM1));
    console.log(number);
    //document.getElementById("chart7").innerHTML = number;
    //$("#chart7").append("<p>This is a paragraph</p>");

    var mydiv = document.getElementById("chart7");
    var mycontent = document.createElement("p");
    mycontent.appendChild(document.createTextNode(name + " heeft: " + number + " tweets"));
    mydiv.appendChild(mycontent);
</script>


<!--Get Data for Graph-->
<script type="text/javascript">
    $(document).ready(function() {
        $.get('@Url.Action("GetData", "Home", new {id = 231})',
            function(result) {

                Morris.Area({
                    // ID of the element in which to draw the chart.
                    element: 'chart4',
                    // Chart data records -- each entry in this array corresponds to a point on
                    // the chart.
                    data: result,
                    // The name of the data record attribute that contains x-values.
                    xkey: 'label',
                    ykeys: ['value'],
                    labels: ['aantal tweets Van Verhofstad'],
                    pointSize: 2,
                    hideHover: 'auto',
                    resize: true
                });
            });


    });
</script>

<script type="text/javascript">
    $(document).ready(function() {

        $.get('@Url.Action("GetData", "Home", new {id = 170})',
            function(result) {

                Morris.Line({
                    // ID of the element in which to draw the chart.
                    element: 'chart1',
                    // Chart data records -- each entry in this array corresponds to a point on
                    // the chart.
                    data: result,
                    // The name of the data record attribute that contains x-values.
                    xkey: 'label',
                    ykeys: ['value'],
                    labels: ['aantal tweets van Bart De Wever'],
                    pointSize: 2,
                    hideHover: 'auto',
                    resize: true
                });
            });
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {

        $.get('@Url.Action("GetRank", "Home", new {aantal = 5})',
            function(result) {

                Morris.Donut({
                    // ID of the element in which to draw the chart.
                    element: 'chart2',
                    // Chart data records -- each entry in this array corresponds to a point on
                    // the chart.
                    data: result,
                    // The name of the data record attribute that contains x-values.

                    hideHover: 'auto',
                    resize: true
                });
            });
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {

        $.get(
            '@Url.Action("GetData2", "Home", new {persoon1 = 1, persoon2 = 3, persoon3 = 5, persoon4 = 7, persoon5 = 9})',
            function(result) {

                Morris.Line({
                    // ID of the element in which to draw the chart.
                    element: 'chart3',
                    // Chart data records -- each entry in this array corresponds to a point on
                    // the chart.
                    data: result,
                    // The name of the data record attribute that contains x-values.
                    xkey: 'label',
                    ykeys: ['value1', 'value2', 'value3', 'value4', 'value5'],
                    labels: ['aantal tweets', 'aantal tweets', 'aantal tweets', 'aantal tweets', 'aantal tweets'],
                    pointSize: 2,
                    hideHover: 'auto',
                    resize: true
                });
            });
    });
</script>