@model IEnumerable<IP_8IEN.BL.Domain.Data.Persoon>
@using IP_8IEN.UI.MVC_S.App_Code
@{
    ViewBag.Title = ResourceHandler.ReadString("Personen");
}

<h2>Lijst @ResourceHandler.ReadString("Personen")</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Hieronder ziet u een overzicht van alle @ResourceHandler.ReadString("Personen") in onze databank.
            </div>
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="personenTable">
                    <thead>
                        <tr class="odd gradeX">
                            <th>Naam</th>
                            <th>Twitter</th>
                            <th>@ResourceHandler.ReadString("District")</th>
                            <th>Geslacht</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in Model)
                        {
                            <tr class="odd gradeX">
                                <td>
                                    @Html.ActionLink(p.Naam, "Personen", "Home", new { OnderwerpId = p.OnderwerpId }, null)
                                </td>
                                <td><a href="@($"https://twitter.com/{p.Twitter}")">@Html.DisplayFor(m => p.Twitter)</a></td>
                                <td>@Html.DisplayFor(m => p.District)</td>
                                <td>
                                    @if (p.Gender.Equals("M"))
                                    {
                                        @Html.Raw("Man")
                                    }
                                    else if (p.Gender.Equals("V"))
                                    {
                                        @Html.Raw("Vrouw")
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(m => p.Gender)
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

@section scripts{

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#personenTable').DataTable();
        });</script>
}

