@model IP3_8IEN.BL.Domain.Data.Persoon

@{
    ViewBag.Title = Model.Naam;
}
<script src="~/Scripts/morris-onderwerpenPagina.js"></script>

<br/>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Informatie
            </div>
            <div class="panel-body">
                <div class="row" style="padding-left:5px;">
                    <div class="col-lg-8 col-md-8" style="background-color:#f8f8f8; padding-left:1px; padding-right: 1px;">

                        <div style="position: relative; left: 0; top: 0;">
                            <img src="@ViewBag.TWITBANNER" alt="" style="height: 50%; width: 100%; display: inline-block; position: relative; top: 0; left: 0;"/>
                            <img src="@ViewBag.TWITIMAGE" alt="" style="height: 150px; width: 150px; border-radius: 50%; border: 2px solid white; position: absolute; top: 70%; left: 40%;"/>

                        </div>


                        <div class="row" style="padding-top:80px; padding-left:40px; padding-right:5px;">
                            <div class="col-lg-6 col-md-6">
                                <table style="display: block; overflow-x: auto; ">
                                    <tr>
                                        <td valign="top" style="color: #00295C">
                                            <b>@Html.DisplayNameFor(model => model.Naam): </b>
                                        </td>
                                        <td>@Html.DisplayFor(model => model.Naam)</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" style="color: #00295C">
                                            <b>@Html.DisplayNameFor(model => model.Twitter):</b>
                                        </td>
                                        <td>
                                            <a href="@($"https://twitter.com/{Model.Twitter}")">@Html.DisplayFor(model => model.Twitter)</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" style="color: #00295C">
                                            <b>@Html.DisplayNameFor(model => model.Facebook):</b>
                                        </td>
                                        <td>
                                            <a href="@Model.Facebook">@Html.DisplayFor(model => Model.Facebook)</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" style="color: #00295C">
                                            <b>Trend:</b>
                                        </td>
                                        <td>@Html.DisplayFor(model => model.Naam)</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" style="color:#00295C"><b>Aantal Vermeldingen:</b> </td>
                                        <td>@ViewBag.Vermeldingen</td>
                                    </tr>
                                    <tr></tr>
                                    <tr>
                                        <td valign="top" style="color: #00295C">
                                            <b>Gekoppelde Termen:</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <ul style="overflow: scroll; height: 50px; overflow-x: hidden; width: 350px">

                                                @for (int i = 0; i < ViewBag.VaakVoorkomendeTermen?.Count; i++)
                                                {
                                                <li>@ViewBag.VaakVoorkomendeTermen[i]</li>
                                                }
                                            </ul>
                                        </td>
                                    </tr>


                                </table>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <table style="display: block; overflow-x: auto; ">
                                    <tr>
                                        <td valign="top" style="color:#00295C"><b>@Html.DisplayNameFor(model => model.Geboortedatum):</b> </td>
                                        @*<td>@Html.EditorFor(model => model.Geboortedatum.ToString("dd/MM/yyyy")</td>*@
                                        <td>@Html.Label(Model.Geboortedatum.ToShortDateString())</td>

                                    </tr>
                                    <tr>
                                        <td valign="top" style="color: #00295C">
                                            <b>Kieskring:</b>
                                        </td>
                                        <td>@Html.DisplayFor(model => model.District)</td>
                                    </tr>
                                    <tr>
                                        <td valign="top" style="color: #00295C">
                                            <b>@Html.DisplayNameFor(model => model.Tewerkstellingen):</b>
                                        </td>
                                        <td>
                                            @for (int i = 0; i < Model.Tewerkstellingen.Count; i++)
                                            {
                                                if (i != 0)
                                                {
                                                    @Html.Raw(", ")
                                                }
                                                @Html.DisplayFor(model => model.Tewerkstellingen.ElementAt(i).Organisatie.Naam)
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" style="color: #00295C">
                                            <b>Vaak voorkomende Woorden:</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <ul style="overflow: scroll; height: 50px; overflow-x: hidden; width: 100%">

                                                @for (int i = 0; i < ViewBag.VaakVoorkomendeWoorden?.Count; i++)
                                                {
                                                <li>@ViewBag.VaakVoorkomendeWoorden[i]</li>
                                                }
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" style="color: #00295C">
                                            <b>Vaak voorkomende Verhalen:</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <ul style="overflow: scroll; height: 50px; overflow-x: hidden; width: 100%">

                                                @for (int i = 0; i < ViewBag.VaakVoorkomendeVerhalen?.Count; i++)
                                                {
                                                <a href="@ViewBag.VaakVoorkomendeVerhalen[i]">
                                                    <li>@ViewBag.VaakVoorkomendeVerhalen[i]</li>
                                                </a>
                                                }
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        @if (Model.Twitter != null)
                        {
                            <form role="form">
                                <a class="twitter-timeline" data-height="580" data-theme="light" data-link-color="#00295C" href="@($"https://twitter.com/{Model.Twitter}?ref_src=twsrc%5Etfw")">Tweets by @Model.Twitter</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </form>
                        }
                        else
                        {
                            <form role="form">
                                <a class="twitter-timeline" data-height="500" data-theme="light" data-link-color="#00295C" href="@($"https://twitter.com/Twitter?ref_src=twsrc%5Etfw")">Tweets by Twitter</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Grafieken
            </div>
            <div class="panel-body">
                <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                                <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                                Aantal tweets van @Model.Naam
                                
                            </div>
                            <div class="panel-body">
                                <div id="persoon-chart1"></div>

                            </div>
                                                    @using Microsoft.AspNet.Identity
                                                    @if (Request.IsAuthenticated)
                                                    {
                            <label for="aantaldagen1">Hoeveel dagen terug: </label>
                            <input type="text" id="aantaldagen1" name="aantaldagen1" value="5"/>
                            <label for="message1">label voor de chart: </label>
                            <input type="text" id="message1" name="message1" value="aantal tweets: "/>
                            <button id="buttonReload1">herlaad</button>
                         
                                <button id="buttonSave1">opslaan naar dashboard</button>
                            }
@*                            <button id="buttonAxe1">verander assen</button>*@
                        </div>

                    </div>
                                        <div class="col-lg-6 col-md-6">
                                                <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                               Aantal tweets van @Model.Naam
                                
                            </div>
                                                    <div class="panel-body">
                                                        <div id="persoon-chart2"></div>

                                                    </div>
                                                    @using Microsoft.AspNet.Identity
                                                    @if (Request.IsAuthenticated)
                                                    {
                            <label for="aantaldagen2">Hoeveel dagen terug: </label>
                            <input type="text" id="aantaldagen2" name="aantaldagen2" value="5"/>
                            <label for="message2">label voor de chart: </label>
                            <input type="text" id="message2" name="message2" value="aantal tweets: "/>
                            <button id="buttonReload2">herlaad</button>
                
                            <button id="buttonSave2">opslaan naar dashboard</button>
                        }
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    setOnderwerpId(@Model.OnderwerpId);
    setNaam("@Model.Naam");
    makeChart();
    makeChart2();

</script>
