@model IP_8IEN.BL.Domain.Data.Persoon

@{
    ViewBag.Title = "Personen";
}


<br />


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        <form role="form">
                            <div class="form-group">
                                <img src="../Fotos/bartdewever.jpg" alt="Bart De Wever" style="max-height:100%; max-width:100%">

                            </div>
                        </form>
                    </div>
                    <div class="col-lg-5">
                        <table>
                            <tr>
                                <td><b>@Html.DisplayNameFor(model => model.Naam): </b></td>
                                <td>@Html.DisplayFor(model => model.Naam)</td>
                            </tr>
                            <tr>
                                <td><b>@Html.DisplayNameFor(model => model.Twitter):</b> </td>
                                <td>@Html.DisplayFor(model => model.Twitter)</td>
                            </tr>
                            <tr>
                                <td><b>Facebook:</b> </td>
                                <td>BartjeDeWever</td>
                            </tr>
                            <tr>
                                <td><b>Geboortedatum:</b> </td>
                                <td>21/12/1970</td>
                            </tr>
                            <tr>
                                <td><b>Kieskring:</b> </td>
                                <td>Antwerpen</td>
                            </tr>

                            <tr>
                                <td><b>@Html.DisplayNameFor(model => model.Tewerkstellingen):</b> </td>
                                <td>@Html.DisplayFor(model => model.Tewerkstellingen)</td>
                            </tr>
                            <tr>
                                <td><b>@Html.DisplayNameFor(model => model.Beschrijving):</b> </td>
                                <td>@Html.DisplayFor(model => model.Beschrijving)</td>
                            </tr>
                        </table>


                    </div>
                    <div class="col-lg-5">
                        <form role="form">
                            <a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/Bart_DeWever?ref_src=twsrc%5Etfw">Tweets by Bart_DeWever</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
