@model IP_8IEN.BL.Domain.Data.Thema

@{
    ViewBag.Title = "Thema";
}
<h2>@ViewBag.Title</h2>


<br />


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        <form role="form">
                            <div class="form-group">
                                <img src="../Fotos/bartdewever.jpg" alt="Bart De Wever" style="max-height:100%; max-width:100%">

                            </div>
                        </form>
                    </div>
                    <div class="col-lg-5">
                        <table>
                            <tr>
                                <td valign="top"><b>@Html.DisplayNameFor(m => m.ThemaString): </b></td>
                                <td>@Html.DisplayFor(m => m.ThemaString)</td>
                            </tr>
                            <tr>
                                <td valign="top"><b>@Html.DisplayNameFor(m => m.Beschrijving): </b></td>
                                <td>@Html.DisplayFor(m => m.Beschrijving)</td>
                            </tr>
                            <tr>
                                <td valign="top"><b>@Html.DisplayNameFor(m => m.Hashtags): </b></td>
                                <td>#KrisPeetersJood</td>
                            </tr>
                            <tr>
                                <td valign="top"><b>Aantal Mentions: </b></td>
                                <td>@Html.DisplayFor(m => m.SubjectMessages.Count)@*6586*@</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-5">
                        <form role="form">
                            <a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/Bart_DeWever?ref_src=twsrc%5Etfw">Tweets by Bart_DeWever</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
