<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />


    @*<script src="~/Scripts/kendo.all.min.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="~/Scripts/kendo_ui.js"></script>
        @Scripts.Render("~/bundles/kendo")*@

    @Scripts.Render("~/bundles/bootstrap")
    @*Sam 24/4*@
    @Scripts.Render("~/scripts/charts")

    @Scripts.Render("~/scripts/smartadmin")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.rtl.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.silver.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.mobile.all.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink(" ", "grafiektest2", "Home", null, new { style = $"background:url('{Url.Content("~/favicon.ico")}') no-repeat contain;", @class = "navbar-brand", height = "32px", width = "20px" })*@
            <a class="navbar-brand" href="@Url.Action("grafiektest2", "Home")">
                <img src="~/favicon.ico" style="height:18px" /> IEN.
            </a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" href="" data-toggle="dropdown">
                    <i class="fa fa-bell fa-fw" style="color:#00295C;"></i> <i class="fa fa-caret-down" style="color:#00295C;"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="">
                            <div>

                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">20% Complete</span>
                                </p>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>

                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="" style="margin-left: auto; margin-right: auto;">
                            <strong>@Html.ActionLink("Bekijk alle alerts", "Alerts", "Home")</strong>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    <i class="fas fa-users-cog" style="color:#00295C;"></i> <i class="fa fa-caret-down" style="color:#00295C;"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="">@Html.ActionLink("Gebruikersprofiel", "Instellingen", "Home")</a>
                    </li>
                    <li>
                        <a href=""> @Html.ActionLink("Instellingen", "Instellingen", "Home")</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                    <i class="fas fa-sign-out-alt" style="color:#00295C;"></i> <i class="fa fa-caret-down" style="color:#00295C;"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    @using Microsoft.AspNet.Identity
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            </ul>
                        }
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    }
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>






        <div class="navbar-default sidebar" role="navigation">
            <!-- Sidebar -->
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    <li>
                        <a href="@Url.Action("Grafiektest2", "Home")">
                            <i class="fas fa-chart-bar"></i>
                            Dashboard
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("LijstPersonen", "Home")">
                            <i class="fas fa-user-alt" style="color:#00295C;"></i>
                            Personen
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("LijstOrganisaties", "Home")">
                            <i class="fas fa-handshake" style="color:#00295C;"></i>
                            Organisaties
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Themas", "Home")">
                            <i class="fas fa-street-view" style="color:#00295C;"></i>
                            Themas
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Alerts", "Home")">
                            <i class="fas fa-bell" style="color:#00295C;"></i>
                            Alerts
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("LijstThemas", "Home")">
                            <i class="fas fa-bell" style="color:#00295C;"></i>
                            Themas Lijst
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("WeeklyReview", "Home")">
                            <i class="fas fa-calendar-alt" style="color:#00295C;"></i>
                            WeeklyReview
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Instellingen", "Home")">
                            <i class="fas fa-cogs" style="color:#00295C;"></i>
                            Instellingen
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Zoeken", "Home")">
                            <i class="fas fa-search" style="color:#00295C;"></i>
                            Zoeken
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("AdminOmgeving", "Home")">
                            <i class="fas fa-user-circle" style="color:#00295C;"></i>
                            Admin Omgeving
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("AdminCRUD", "Home")">
                            <i class="fas fa-minus-square" style="color:#00295C;"></i>
                            AdminCRUD
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Superadmin")">
                            <i class="fab fa-superpowers" style="color:#00295C;"></i>
                            Superadmin
                        </a>
                    </li>
                </ul>
            </div>
        </div>


    </nav>

    <div id="page-wrapper" class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color:#00295C">&copy; @DateTime.Now.Year - 8IEN. Politieke Barometer</p>
            <p><a href="@Url.Action("Faq", "Home")">Veel gestelde vragen</a> - <a href="@Url.Action("Contact", "Home")"> Contacteer ons</a> - <a href="@Url.Action("Privacy", "Home")"> Privacy</a></p>
        </footer>
        <a href=""></a>
    </div>

</body>
</html>






<script>
    $(document).ready(function () {
        $("#Naam").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Home/Index",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.CityName, value: item.CityName };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>